.svg-line-404 {
  position: relative;
  width: 90%;
  margin: 0 auto; /* to center it inside parent */
}
.error-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 5%;
}
.message {
  flex: 1;
  font-family: "Neue Haas Grotesk Display Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  align-items: center;
}
.description {
  flex: 1;
  font-family: "Neue Haas Grotesk Display Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 150%;
  color: #ffffff;
}
.text-404 {
  flex: 1;
  font-family: "Neue Haas Grotesk Display Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 200px;
  line-height: 90px;
  text-align: center;
  color: #ffffff;
  align-items: center;
}
.home-page-button {
  align-self: center;
  width: 220px;
  height: 66px;
  left: 850px;
  top: 794px;
  background: #ff7900;
  border-radius: 8px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  /* identical to box height, or 108% */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
